.ghostwritr-general-panel__default-state-icon:before,
.ghostwritr-general-panel__empty-state-icon:before,
.ghostwritr-general-panel__loading-state-icon:before {
  content: "";
  display: block;
  margin: auto;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ghostwritr-general-panel__default-state-icon:before {
   background-image: url('../img/default-state.png');
}

.ghostwritr-general-panel__empty-state-icon:before {
  background-image: url('../img/empty-state.png');
}

.ghostwritr-general-panel__loading-state-icon:before {
  background-image: url('../img/loading.gif');
}

.ghostwritr-source-container {
  margin-bottom: 10px;
}

.ghostwritr-source-container .x-box-inner {
  font-size: 10px;
  border-left: 3px solid rgb(38 138 178);
  background-color: rgba(38,138,178,.1);
  padding: 1em;
}

.ghostwritr-source-container__quote .x-form-display-field {
  font-style: italic;
}
